# Node
node_modules/

# Env
.env

# Logs
*.log

# Docker
docker-compose.override.yml
*.tar

# Terraform
.terraform/
**/.terraform/*
*.tfstate
*.tfstate.backup
*.tfvars

# Kubernetes
kubeconfig*
*.kubeconfig

# System
__pycache__/
.DS_Store