# Node
node_modules/

# Env
.env

# Logs
*.log

# Docker
docker-compose.override.yml
Dockerfile*

# Terraform (VERY IMPORTANT)
.terraform/
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars

# Kubernetes
kubeconfig*
*.kubeconfig

# System
__pycache__/
.DS_Store
